.content {
    width: 1090px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    .contentLeft {
        padding-right: 30px;
        width: 70%;
        .carouselBox {
            display: flex;
            justify-content: space-between;
            .carousel {
                width: 540px;
                height: 280px;
            }
            .rightBox {
                display: flex;
                flex-direction: column;
                height: 280px;
                .aboutBox {
                    height: 50%;
                    padding: 20px;
                    border: 1px solid pink;
                    margin-bottom: 4px;
                    p {
                        font-size: 12px;
                    }
                }
                .aboutLife {
                    margin: 0;
                    border: 1px solid skyblue;
                }
            }
        }
        .articlesTitle {
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: #13b57a 4px solid;
            padding-bottom: 10px;
            .title {
                font-size: 16px;
                color: #333;
                font-weight: bold;
            }
            .articleRightTitle {
                a {
                    font-size: 12px;
                    color: #666;
                    &:hover {
                        cursor: pointer;
                        color: #000;
                    }
                }
                span {
                    padding: 0 5px;
                }
            }
        }
        .articles {
            display: flex;
            flex-direction: column;
        }
    }
    .contentRight {
        width: 30%;
        padding-left: 10px;
        padding-top: 10px;
        .contentRightBox {
            .aboutRight {
                font-size: 18px;
                color: #38485a;
                padding-bottom: 3px;
            }
            hr{
                margin-bottom: 20px;
            }
            ul {
                padding-left: 30px;
                li {
                    padding: 3px 0;
                    font-size: 12px;
                }
            }
            .linkContent{
                padding-left: 20px;
            }
            .chatIcons {
                display: flex;
                width: 100%;
                .chatIconBox {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 25%;
                    height: 80px;
                    .chatIcon {
                        width: 48px;
                        height: 48px;
                    }
                    .weixin {
                        background: url(../../assets/imgs/home/weixin.png)
                            no-repeat;
                        &:hover {
                            background: url(../../assets/imgs/home/weixin-active.png)
                                no-repeat;
                        }
                    }
                    .weibo {
                        background: url(../../assets/imgs/home/weibo.png)
                            no-repeat;
                        &:hover {
                            background: url(../../assets/imgs/home/weibo-active.png)
                                no-repeat;
                        }
                    }
                    .email {
                        background: url(../../assets/imgs/home/email.png)
                            no-repeat;
                        &:hover {
                            background: url(../../assets/imgs/home/email-active.png)
                                no-repeat;
                        }
                    }
                    .feedBack {
                        background: url(../../assets/imgs/home/feed-back.png)
                            no-repeat;
                        &:hover {
                            background: url(../../assets/imgs/home/feed-back-active.png)
                                no-repeat;
                        }
                    }
                    span {
                        font-size: 12px;
                        padding-top: 5px;
                    }
                    &:hover {
                        cursor: pointer;
                        color: #808080;
                    }
                }
            }
        }
    }
    .backTop {
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 4px;
        background-color: "#1088e9";
        color: "#fff";
        text-align: "center";
        font-size: 14;
    }
}
:global(.ant-carousel .slick-slide) {
    text-align: center;
    width: 540px;
    height: 280px;
    line-height: 280px;
    background: pink;
    overflow: hidden;
}
:global(.ant-carousel .slick-slide h3) {
    color: #fff;
}
