.container {
    flex: 1;
    display: flex;
    justify-content: center;
    // flex-direction: column;
    padding: 2% 5%;
    .formBox {
        display: table;
        flex: 1;
        margin: 0 10%;
        /*display: table时padding会失效*/
        .row {
            display: table-row;
            /*display: table-row时margin、padding同时失效*/
            .column {
                display: table-cell;
                padding: 2% 0;
                /*display: table-cell时margin会失效*/
            }
            .label {
                text-align: right;
                width: 180px;
                padding-right: 10px;
                vertical-align: middle;
            }
            .date {
                text-align: right;
            }
        }

        .select {
            min-width: 100px;
        }

        .myButton {
            margin-right: 10px;
        }
    }
}
