.divMarkdown{
    display: flex;
    flex-direction: row;
    align-items:stretch;  
}
.divMarkdown >.left{
    width: 65%;
}
.divMarkdown>.right{
    background-color: rgb(164, 228, 233);
    width: 35%;
}