.container {
    width: 100%;
    display: flex;
    //flex-direction: column;
    justify-content: flex-start;
    .leftBox {
        display: flex;
        flex-direction: column;
        align-items: center;

        .siderBox {
            //width: 250px;
            background-color: #001529;
            height: 100%;
            .header {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 0;
                .logo {
                    padding-right: 10px;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
                .title {
                    color: palevioletred;
                    margin: 0;
                }
            }
        }
    }

    .rightBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .rightHeader {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .toggleButton {
                padding-left: 20px;
                svg {
                    width: 20px;
                    height:20px;
                }
            }
            .avatar {
                padding-right: 20px;
                .avatarImage {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 3px solid palevioletred;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            background-color: rgb(231, 231, 231);
            padding: 10px 20px;
            flex: 1;
            justify-content: flex-start;
            .content {
                width: 100%;
                padding: 10px 10px;
                .breadTop {
                    background-color: rgb(231, 231, 231);
                }
                .mainContent {
                    min-height: 500px;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                }
                .bottom {
                    margin: 10px 0 0 0;
                    width: 100%;
                    height: 50px;
                    background-color: rgb(247, 247, 247);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                }
            }
        }
    }
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}
